<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <title>Riwayat Transfer</title>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-light">
        <div class="container">
            <a class="navbar-brand">
                <img src="{% static 'img/logobank.png'%}" alt="nama bank" width="150" height="150"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="#navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'transfer:form' %}">Transfer</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'kel11app:epay' %}">Pembayaran<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
</nav>
<div class="row">
        <div class="col text-center">
          <h1>Riwayat Transfer</h1>
        </div>
</div>
<div>
{% for entry in data %}
<div class="card">
    <div class="col">
        <div class="row">
            <div class="col">
                <h4>Nama Pengirim: </h4>
            </div>
            <div class="col">
                <h4>{{entry.nama}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h4>Nomor Rekening: </h4>
            </div>
            <div class="col">
                <h4>{{entry.rekening}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h4>Nominal: </h4>
            </div>
            <div class="col">
                <h4>{{entry.nominal}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h4>Berita: </h4>
            </div>
            <div class="col">
                <h4>{{entry.berita}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h4>Waktu: </h4>
            </div>
            <div class="col">
                <h4>{{entry.waktu}}</h4>
            </div>
        </div>

    </div>
</div>
{% endfor %}
</div>
</body>
</html>
