<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <title>Transfer</title>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-light">
        <div class="container">
            <a class="navbar-brand">
                <img src="{% static 'img/logobank.png'%}" alt="nama bank" width="150" height="150"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="#navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'transfer:form' %}">Transfer</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'kel11app:epay' %}">Pembayaran<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
</nav>
<div class="container">
    <div>
        <form method="POST">
            {% csrf_token %}

            <form>
                <div class="form-group row col-lg-10">
                    <label class="col-sm-2 col-form-label">{{form.nama_form.label}}</label>
                    <div class="col-sm-10">
                        {{form.nama_form}}
                    </div>
                </div>

                <div class="form-group row col-lg-10">
                    <label class="col-sm-2 col-form-label">{{form.rekening_form.label}}</label>
                    <div class="col-sm-10">
                        {{form.rekening_form}}
                    </div>
                </div>

                <div class="form-group row col-lg-10">
                    <label class="col-sm-2 col-form-label">{{form.nominal_form.label}} </label>
                    <div class="col-sm-10">
                        {{form.nominal_form}}
                    </div>
                </div>

                <div class="form-group row col-lg-10">
                    <label class="col-sm-2 col-form-label">{{form.berita_form.label}} </label>
                    <div class="col-sm-10">
                        {{form.berita_form}}
                    </div>
                </div>

                <button type="Submit" class="btn btn-primary">Transfer</button>
            </form>
        </form>
    </div>
</div>
</body>
</html>
